
@{
    ViewBag.Title = "KayitOlusturuldu";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="margin:20px 20px 20px 20px">
    <h2>Tebrikler Kaydınız Başarıyla Oluşturulmuştur</h2>
    <br />
    @Html.ActionLink("Tekrar Kayıt Oluştur", "Index", new { @class = "btn btn-info" })
</div>


